* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(rgb(47,150,163), rgb(50,31,143));
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: 10px solid white;
}
.container{
	display: flex;

}
/*clock*/
.clock {
  	width: 15rem;
  	height: 13rem;
  	border: 15px solid white;
  	border-radius: 50%;
  	margin: 20px auto;
  	position: relative;
  	padding: 2rem;
  	box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 5px #dedede,
    inset 0 0 5px black,
    0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
  	width: 50%;
  	height: 4px;
  	background: black;
  	position: absolute;
  	top: 50%;
  	transform-origin: 100%;
  	transform: rotate(90deg);
  	transition: all 0.05s;
  	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second-hand {
  	background: red;
  	height: 2px;
}
.hour-hand {
  	height: 6px;
}

    /*weather*/
.location, .temperature {
	height: 30vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.temperature {
	flex-direction: column;
	border-right:2px solid white;
	border-left:2px solid white;
}
.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.degree-section span {
	margin: 10px;
	font-size: 30px;
}
.degree-section h2 {
	font-size: 40px;
}
.wind-rain {
	display: flex;
	align-items: center;
	padding: 10px;
}